<div class="d-flex justify-content-center mt-5">
  <div class="card col-6 ">
    <div class="border p-5 shadow ">
      <p style="color: green"><%= notice %></p>
      <%= render @tweet %>
      <%= link_to "Edit this tweet", edit_tweet_path(@tweet), class:"btn btn-dark mb-3 mx-2" %>
      <%= link_to "Back to tweets", tweets_path, class:"btn btn-dark mb-3 mx-2" %>
      <%= button_to "Destroy this tweet", @tweet, method: :delete, class:"btn btn-dark" %>
    </div>
  </div>
</div>
